/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media only screen and (max-width: 1009px) {
  /* line 27, ../sass/screen.scss */
  .desktop {
    display: none;
  }
}

/* line 32, ../sass/screen.scss */
.tablet {
  display: none;
}
@media only screen and (min-width: 750px) and (max-width: 1009px) {
  /* line 32, ../sass/screen.scss */
  .tablet {
    display: block;
  }
}

/* line 38, ../sass/screen.scss */
.handheld {
  display: none;
}
@media only screen and (max-width: 749px) {
  /* line 38, ../sass/screen.scss */
  .handheld {
    display: block;
  }
}

/* line 44, ../sass/screen.scss */
html, body, .flex-grid {
  min-height: 100%;
  font-size: 20px;
  font-family: Helvetica;
  color: #6B6B6B;
}

/* line 51, ../sass/screen.scss */
h1 {
  padding: 20px 0;
}

/* line 55, ../sass/screen.scss */
.example .col {
  background: red;
  opacity: .2;
  height: 50px;
  padding: 10px 0;
}
@media only screen and (max-width: 749px) {
  /* line 55, ../sass/screen.scss */
  .example .col {
    height: 100px;
    margin: 10px 0;
  }
}

/* Desktop / Tablet Columns */
/* line 75, ../sass/screen.scss */
div.flex-grid {
  max-width: 996px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 749px) {
  /* line 75, ../sass/screen.scss */
  div.flex-grid {
    padding: 0 1.6%;
  }
}
/* line 83, ../sass/screen.scss */
div.flex-grid .col {
  min-height: 1px;
  float: left;
  margin: 1% 0 1% 1.20482%;
}
/* line 87, ../sass/screen.scss */
div.flex-grid .col:first-child {
  margin-left: 0px;
}
/* line 90, ../sass/screen.scss */
div.flex-grid .col.center {
  float: none;
  margin: 0% auto;
  clear: both;
  text-align: center;
}
@media only screen and (max-width: 749px) {
  /* line 83, ../sass/screen.scss */
  div.flex-grid .col {
    float: none;
    width: 100% !important;
    margin-left: 0px;
    display: table;
    margin: 1% auto;
  }
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-1-12 {
  width: 7.22892%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-2-12 {
  width: 15.66265%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-3-12 {
  width: 24.09639%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-4-12 {
  width: 32.53012%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-5-12 {
  width: 40.96386%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-6-12 {
  width: 49.39759%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-7-12 {
  width: 57.83133%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-8-12 {
  width: 66.26506%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-9-12 {
  width: 74.6988%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-10-12 {
  width: 83.13253%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-11-12 {
  width: 91.56627%;
}
/* line 110, ../sass/screen.scss */
div.flex-grid .span-12-12 {
  width: 100%;
}

/* line 116, ../sass/screen.scss */
div.flex-grid:after {
  /*
   * The following clears the floated columns.
   */
  content: "";
  display: table;
  clear: both;
}
